/* Typography */

p:last-of-type {
	margin-bottom: 0 ;
}

p {
	color: var(--body-colour);
	font-family: var(--body-font);
	font-weight: var(--body-weight);
	line-height: 1.5em;
}

a:not(#wpadminbar a){
	font-family: var(--body-font);
	line-height: 1.5em;
}

p a, p a:visited, .icon-text-inline {
	color: var(--link-colour);
	font-weight: var(--link-weight);
}

p a:hover, .icon-text-inline:hover {
	color: var(--link-hover-colour);
}

h1 {
	color: var(--h1-colour);
	font-family: var(--h1-font) ;
	font-weight: var(--h1-weight);
	line-height: 1.1em;
}

h2 {
	color: var(--h2-colour);
	font-family: var(--h2-font) ;
	font-weight: var(--h2-weight) ;
}

h3 {
	color: var(--h3-colour);
	font-family: var(--h3-font) ;
	font-weight: var(--h3-weight) ;
}

h4 {
	color: var(--h4-colour);
	font-family: var(--h4-font) ;
	font-weight: var(--h4-weight) ;
}

h5 {
	color: var(--h5-colour);
	font-family: var(--h5-font) ;
	font-weight: var(--h5-weight) ;
}

h6 {
	color: var(--h6-colour);
	font-family: var(--h6-font) ;
	font-weight: var(--h6-weight) ;
}
