/* Buttons */

/*.elementor-button {
	appearance:none;
  	-webkit-appearance:none;
	border-radius: 0 !important;
	padding: 12px 23px !important;
	font-weight: var(--body-weight) !important;
	font-size: 1rem !important;
	background-color: transparent !important;
}

.elementor-button {
	border: 2px solid var(--primary-colour) !important;
	color: var(--body-colour) !important;
}

.elementor-button:hover{
	background-color: var(--light-colour) !important;
}
*/
