/* -----------
Shop Styles 
-------------*/

/* Global */

.woocommerce {

}

.shopengine {
	font-family: var(--body-font);
	font-weight: var(--body-weight);
}

.price ins {
	text-decoration: none !important;
	font-weight: 500 !important;
}

.onsale {
	color: var(--white) !important;
}

/* Archive */

.search-btn svg {
	width: 20px;
	height: 30px;
	margin-top: 5px;
	fill: #ffffff;
}

.shopengine-widget .shopengine-advanced-search .search-input-group {
	border: 0 !important;
}

.shopengine-widget .shopengine-advanced-search .shopengine-category-select-wraper::before {
	border-left: 1px solid var(--body-colour) !important;
}

.products li.product {
	text-align: center !important;
}

.products li.product .add_to_cart_button {
	display: none !important;
}

.products .onsale {
	background-color: var(--primary-colour) !important;
}

.products .price {
	margin-top: 10px !important;
}

/* Search */

.shopengine-search-product__item .shopengine-search-more-btn, .shopengine-search-product__item .star-rating, .shopengine-search-product__item .rating-count {
	display: none !important;
}

.shopengine-search-product__item .woocommerce-Price-amount .amount {
	color: var(--primary-colour) !important;
}

.shopengine-widget .shopengine-advanced-search .shopengine-category-select-wraper select {
	padding: 0;
}

/* Filters */

.shopengine-product-filter-title {
	margin-bottom: 20px;
}

.asRange-pointer {
	color: var(--primary-colour) !important;
}

.asRange-selected:before {
	background-color: var(--primary-colour) !important;
}

.shopengine-checkbox-icon {
	border: 1px solid var(--body-colour) !important;
}

.shopengine-checkbox-icon svg {
	fill: var(--primary-colour) !important;
	size: 30px !important;
}

/*.loop-product--btns {
	display: none !important;
}*/




/* Search and filter */

/* .searchandfilter ul {
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 15px 15px;
	grid-auto-flow: row;
	grid-template-areas:
	"sf-field-taxonomy-product_cat sf-field-taxonomy-product_cat"
	"sf-field-sort_order sf-field-posts_per_page"
	"sf-field-search sf-field-search";
}

.sf-field-taxonomy-product_cat { grid-area: sf-field-taxonomy-product_cat; }

.sf-field-sort_order { grid-area: sf-field-sort_order; }

.sf-field-posts_per_page { grid-area: sf-field-posts_per_page; }

.sf-field-search { grid-area: sf-field-search; }

@media all and (-ms-high-contrast:none) {

	.searchandfilter ul {
		display: -ms-grid;
		-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: 1fr 1fr 1fr;
	}

	.sf-field-taxonomy-product_cat {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

	.sf-field-sort_order {
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}

	.sf-field-posts_per_page {
		-ms-grid-row: 2;
		-ms-grid-row-span: 1;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
	}

	.sf-field-search {
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}

}

/*@media screen and (min-width: 992px) {

	.searchandfilter ul {  
		grid-template-columns: 1fr 1fr 1fr 2fr;
		grid-template-rows: 1fr;
		gap: 15px 30px;
		grid-template-areas: "sf-field-taxonomy-product_cat sf-field-sort_order sf-field-posts_per_page sf-field-search";
	}

	@media all and (-ms-high-contrast:none) {

		.searchandfilter ul {
			-ms-grid-columns: 1fr 1fr 1fr 2fr;
			-ms-grid-rows: 1fr;
		}

		.sf-field-taxonomy-product_cat {
			-ms-grid-column-span: 1;
		}

		.sf-field-sort_order {
			-ms-grid-row: 1;
			-ms-grid-column: 2;
		}

		.sf-field-posts_per_page {
			-ms-grid-row: 1;
			-ms-grid-column: 3;
		}

		.sf-field-search {
			-ms-grid-row: 1;
			-ms-grid-column: 4;
			-ms-grid-column-span: 4;
		}

	}

}*/

/*.searchandfilter ul li {
	padding: 0;
}

.sf-input-text {
	appearance: none;
	padding-left: 40px;
	background-image: url("/wp-content/uploads/search.svg");
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 1.5em;
}

.sf-input-text::placeholder {
	color: var(--body-colour);
}*/



