/* Typography */

body {
	font-size: var(--body-size) !important;
	color: var(--body-colour);
	font-family: var(--body-font) !important;
	font-weight: var(--body-weight);
}

span:not(#wpadminbar span) {
	font-family: var(--body-font) !important:
	font-weight: var(--body-weight) !important;
	color: var(--body-colour);
}

p:last-of-type {
	margin-bottom: 0 ;
}

p {
	color: var(--body-colour) !important;
	font-family: var(--body-font) !important;
	font-weight: var(--body-weight) !important;
	line-height: 1.5em;
}

a:not(#wpadminbar a){
	font-family: var(--body-font);
	line-height: 1.5em;
}

a, a:visited, .icon-text-inline {
	color: var(--link-colour);
	font-weight: var(--link-weight);
	font-style: var(--link-style);
}

p a:hover, .icon-text-inline:hover {
	color: var(--link-hover-colour);
}

h1 {
	color: var(--h1-colour);
	font-family: var(--h1-font) !important;
	font-weight: var(--h1-weight) !important;
	font-style: var(--h1-style) !important;
	font-size: var(--h1-size-m) !important;
	line-height: 1.1em !important;
}

h2 {
	color: var(--h2-colour) !important;
	font-family: var(--h2-font) !important ;
	font-weight: var(--h2-weight) !important;
	font-style: var(--h2-style) !important;
	font-size: var(--h2-size-m) !important;
	line-height: 1.2em !important;
}

h3 {
	color: var(--h3-colour);
	font-family: var(--h3-font)  !important;
	font-weight: var(--h3-weight)  !important;
	font-style: var(--h3-style) !important;
	font-size: var(--h3-size-m) !important;
}

h4 {
	color: var(--h4-colour);
	font-family: var(--h4-font) !important;
	font-weight: var(--h4-weight) !important;
	font-style: var(--h4-style) !important;
	font-size: var(--h4-size-m) !important;
}

h5 {
	color: var(--h5-colour);
	font-family: var(--h5-font) !important;
	font-weight: var(--h5-weight) !important;
	font-style: var(--h5-style) !important;
	font-size: var(--h5-size-m) !important;
}

h6 {
	color: var(--h6-colour) !important;
	font-family: var(--h6-font) !importantv;
	font-weight: var(--h6-weight) !important;
	font-style: var(--h6-style) !important;
	font-size: var(--h6-size-m) !important;
}

@media only screen and (min-width: 992px) {
	h1 {
		font-size: var(--h1-size-d) !important;
	}

	h2 {
		font-size: var(--h2-size-d) !important;
	}

	h3 {
		font-size: var(--h3-size-d) !important;
	}

	h4 {

		font-size: var(--h4-size-d) !important;
	}

	h5 {

		font-size: var(--h5-size-d) !important;
	}

	h6 {
		font-size: var(--h6-size-d) !important;
	}
}
